<div class="accordion" id="basic-accordion">
  <div class="accordion-group">
    <div class="accordion-heading <%= "disabled" unless @basic_outlines[0][1] %>">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#basic-accordion" href="#basic-collapseOne">
        level1 Score:10
      </a>
    </div>
    <div id="basic-collapseOne" class="accordion-body collapse">
      <div style="background:none;background-color:lightgray;" class="accordion-inner">
        <%= @basic_outlines[0][0] %> <%= link_to 'Take this', wargame_basic_level1_path %>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading <%= "disabled" unless @basic_outlines[1][1] %>">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#basic-accordion" href="#basic-collapseTwo">
        level2 Score:20
      </a>
    </div>
    <div id="basic-collapseTwo" class="accordion-body collapse">
      <div style="background:none;background-color:lightgray;" class="accordion-inner">
        <%= @basic_outlines[1][0] %> <%= link_to 'Take this', wargame_basic_level2_path %>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading <%= "disabled" unless @basic_outlines[2][1] %>">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#basic-accordion" href="#basic-collapseThree">
        level3 Score:30
      </a>
    </div>
    <div id="basic-collapseThree" class="accordion-body collapse">
      <div style="background:none;background-color:lightgray;" class="accordion-inner">
        <%= @basic_outlines[2][0] %> <%= link_to 'Take this', wargame_basic_level3_path %>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading <%= "disabled" unless @basic_outlines[3][1] %>">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#basic-accordion" href="#basic-collapseFour">
        level4 Score:40
      </a>
    </div>
    <div id="basic-collapseFour" class="accordion-body collapse">
      <div style="background:none;background-color:lightgray;" class="accordion-inner">
        <%= @basic_outlines[3][0] %> <%= link_to 'Take this', wargame_basic_level4_path %>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading <%= "disabled" unless @basic_outlines[4][1] %>">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#basic-accordion" href="#basic-collapseFive">
        level5 Score:50
      </a>
    </div>
    <div id="basic-collapseFive" class="accordion-body collapse">
      <div style="background:none;background-color:lightgray;" class="accordion-inner">
        <%= @basic_outlines[4][0] %> <%= link_to 'Take this', wargame_basic_level5_path %>
      </div>
    </div>
  </div>
</div>
