<div class="row">
  <h4 style="text-align: center">
    In this game you can test your hacker's ability, enjoy!
  </h4>
  <hr>
  <div class="span6 offset3">
    <%= form_tag "/wargame/basic/level2" do %>
        <%= label_tag :password %>
        <%= password_field_tag :password %>
        <%= submit_tag 'Submit', class: 'btn btn-success' %>
    <% end %>
    <!--Password: jU{=<nX|?+$G&oI#-->
  </div>
</div>
<%= render 'shared/each_rank', ranked_players: @ranked_players, index: 1 %>