<div class="row">
  <h4 style="text-align: center">
    The flag is : The valid serial number.</br>
    Check: <%= link_to 'there', @url %>
  </h4>
  <hr>
  <div class="span6 offset3">
    <%= form_tag "/wargame/reverse/level1" do %>
        <%= label_tag :password %>
        <%= password_field_tag :password %>
        <%= submit_tag 'Submit', class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
<%= render 'shared/each_rank', ranked_players: @ranked_players, index: 10 %>