<div class="columns-12">
  <h4 style="text-align: center">
    Download and find out the password, pasting it to the following field.</br>
    Check: <%= link_to 'there', @url %>
  </h4>
  <hr>
  <div class="col-6 col-offset-3">
    <%= form_tag "/wargame/reverse/level2" do %>
        <%= label_tag :password %>
        <%= password_field_tag :password %>
        <%= submit_tag 'Submit', class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
<%= render 'shared/each_rank', ranked_players: @ranked_players, index: 11 %>