<div class="columns-12">
  <div class="contains">
    <div class="chal">
      <span class="chal-header"><%= "#{ctl_name}_#{act_name}" %></span>
      <div class="chal-body" contenteditable="tinymce">
        <h1 class="th1"><%= "#{act_name}" %></h1>
        <h2 class="th2"><%= link_to url, url %></h2>
        <hr>
        <div id="editable">
          <%= chal.content.html_safe %>
          <% if !current_user.nil? && current_user.admin? %>
              <%= render "shared/challenge_content_confirm", :chal_instance => chal, :url_instance => "content_edit" %>
          <% end %>
        </div>
        <hr>
        <div>
          <%= form_tag "/wargame/#{ctl_name}/#{act_name}" do %>
              <%= label_tag :flag %>
              <%= text_field_tag :flag %>
              <%= submit_tag 'Submit', class: 'btn btn-success' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/each_rank', ranked_players: ranked_players, index: index %>