<div class="columns-12">
  <div class="col-12">
        <table width="100%" class="table table-striped table-condensed">
          <tr>
            <th><%= link_to '#' %></th>
            <th><%= t("each_rank.name") %></th>
            <th><%= t("each_rank.score") %></th>
            <th><%= t("each_rank.finished_or_not") %></th>
            <th><%= t("each_rank.last_submission_time") %></th>
          </tr>
          <% ranked_players.each_with_index do |user, seq| %>
              <tr>
                <td><%= seq+1 %></td>
                <td style="width: 20%;"><%= link_to user.name, show_user_path(user) %></td>
                <td><%= user.score %></td>
                <% if user.record[index].solved %>
                    <td><%= t("each_rank.finished") %></td>
                <% else %>
                    <td><%= t("each_rank.not_finished") %></td>
                <% end %>
                <td style="width: 40%;"><%= user.last_submit_time.nil? ? "" : user.last_submit_time.to_s(:long_ordinal) %></td>
              </tr>
          <% end %>
        </table>
  </div>
</div>