<h1 style="color: red" class="th1"><%= t("page_rule.title") %></h1>

<div>
  <h1 class="th1"><%= t("page_rule.infrastructure.name") %></h1><br>
</div>

<span>
  <ul>
    <li class="rulelists"><p class="tp"><%= t("page_rule.infrastructure.rule_one") %></p></li><br>
    <li class="rulelists"><p class="tp"><%= t("page_rule.infrastructure.rule_two") %></p></li><br>
    <li class="rulelists"><p class="tp"><%= t("page_rule.infrastructure.rule_three") %></p></li><br>
  </ul>
</span>

<div>
  <h1 class="th1"><%= t("page_rule.personal.name") %></h1><br>
</div>

<span>
  <ul>
    <li class="rulelists"><p class="tp"><%= t("page_rule.personal.rule_one") %></p></li><br>
    <li class="rulelists"><p class="tp"><%= t("page_rule.personal.rule_two") %></p></li><br>
    <li class="rulelists"><p class="tp"><%= t("page_rule.personal.rule_three") %></p></li><br>
    <li class="rulelists"><p class="tp"><%= t("page_rule.personal.rule_four") %></p></li><br>
  </ul>
</span>
