<div class="accordion" id="web-accordion">
  <div class="accordion-group">
    <div class="accordion-heading <%= "disabled" unless @web_outlines[0][1] %>">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#web-accordion" href="#web-collapseOne">
        level1 Score:100
      </a>
    </div>
    <div id="web-collapseOne" class="accordion-body collapse">
      <div style="background:none;background-color:lightgray;" class="accordion-inner">
        <%= @web_outlines[0][0] %> <%= link_to 'Take this', wargame_web_level1_path %>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading <%= "disabled" unless @web_outlines[1][1] %>">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#web-accordion" href="#web-collapseTwo">
        level2 Score:200
      </a>
    </div>
    <div id="web-collapseTwo" class="accordion-body collapse">
      <div style="background:none;background-color:lightgray;" class="accordion-inner">
        <%= @web_outlines[1][0] %> <%= link_to 'Take this', wargame_web_level2_path %>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading <%= "disabled" unless @web_outlines[2][1] %>">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#web-accordion" href="#web-collapseThree">
        level3 Score:300
      </a>
    </div>
    <div id="web-collapseThree" class="accordion-body collapse">
      <div style="background:none;background-color:lightgray;" class="accordion-inner">
        <%= @web_outlines[2][0] %> <%= link_to 'Take this', wargame_web_level3_path %>
      </div>
    </div>
  </div>
</div>
